<% console.log(games) %>

<h1>Pool <%= pool.get('name') %></h1>
<button class="button btn-lg back" href="#/pools/"">Back</button>


<h2>Ranking</h2>

<table class="table table-striped pool">
  <thead>
    <tr>
      <th>Team</th>
      <th>Games</th>
      <th>Wins</th>
      <th>Losses</th>
      <th>+/-</th>
    </tr>
  </thead>
  <tbody>
<% _.each(pool.get('standings'), function(standing){ %>
     <tr>
      <td class="team" id="<%=standing.team.id %>"><%= standing.team.name%></td>
      <td><%= standing.games_played%></td>
      <td><%= standing.wins%></td>
      <td><%= standing.losses%></td>
      <td><%= standing.plus_minus%></td>
    </tr>
<%});%>
  </tbody>
</table>

<h2>Games</h2>
<table class="table poolGames">
  <thead>
    <tr>

      <th>Team 1</th>
      <th>Team 2</th>
      <th>Score</th>
      <th>More</th>
    </tr>
  </thead>
  <tbody>

<%var date=""%>
<% _.each(games, function(game){%>
  <% if(date != game.get('date')){ %>
    <tr>
      <th colspan="5"><%= game.get('day') %> <small> <%= game.get('date') %></small></th>
    </tr>
    <% date = game.get('date')  %>
  <% }%>


  <tr>

    <td <% if(game.get('winner_id') == game.get('team_1').id){ %> class="winner"<% } %> > <%= game.get('team_1').name%></td>
    <td <% if(game.get('winner_id') == game.get('team_2').id){ %> class="winner"<% } %> ><%= game.get('team_2').name%></td>
    <td><%= game.get('team_1_score') +'-'+ game.get('team_2_score')  %></td>
    <td><button class="button game" id="<%= game.get('id')%>">></button></td>
  </tr>
<%});%>


  </tbody>
</table>
